## Top 10 arrival airports in the world in 2013 (using the bookings file)

Arrival airport is the column arr_port. It is the IATA code for the airport

To get the total number of passengers for an airport, you can sum the "pax" column, grouping by arr_port.

Note that there is negative pax. That corresponds to cancelations. So to get the total number of passengers that have actually booked, you should sum including the negatives (that will remove the canceled bookings).

Print the top 10 arrival airports in the standard output, including the number of passengers.

Bonus point: Get the name of the city or airport corresponding to that airport (programatically, we suggest to have a look at [neobase in Github](https://github.com/alexprengere/neobase))

Bonus point: Solve this problem using pandas (instead of any other approach)

Suggestion: follow the below plan of action:

* Get familiar with the data
* Select columns of interest
* Decide what to do with NaNs

* Make processing plan
* Develop code that works with a sample

* Adjust the code to work with Big data
* Test big data approach on a sample

* Run program with big data

## 1) Get familiar with data

In [1]:
import pandas as pd

### What if we dont want to read the whole file?

Options:

* prepare the sample

* read_csv with nrows option

In [4]:
bookings_file = '../data/Challenge/bookings.csv.bz2'

sample = pd.read_csv(bookings_file, nrows=100000, sep='^')

In [6]:
pd.options.display.max_columns = None

sample.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHRZRH,LONZRH,CHGB,1,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,SAL,SAL,SV,CLT,CLT,US,CLTSAL,CLTSAL,SVUS,1,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLTSAL,CLTSAL,SVUS,1,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKL,AKL,NZ,SVO,MOW,RU,AKLSVO,AKLMOW,NZRU,1,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKLSVO,AKLMOW,NZRU,1,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

Commands for obtaining data info:
    b.shape  - object 
    b.info()

    b.columns
    b.columns.to_list()
    list(b.columns)
    
    b.head() -function
    b.sample()
    
    #pd.set_option('display.max_columns', 100)
    pd.set_option('display.max_columns', None)
    
    b.describe()
    b.describe(include='all')
    df.dtypes
    
    b.isnull().sum()
    non_null_counts = b.count()

In [8]:
sample.shape

(100000, 38)

In [9]:
sample.describe()

,duration,distance,intl,pax,year,month
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.0,100000.000000
mean,22960.511580,476.904440,0.662550,0.509630,2013.0,2.191040
std,46979.388683,1780.890791,0.472842,2.219013,0.0,1.260222
min,51.000000,0.000000,0.000000,-80.000000,2013.0,1.000000
25%,3370.750000,0.000000,0.000000,-1.000000,2013.0,1.000000
50%,8594.000000,0.000000,1.000000,1.000000,2013.0,3.000000
75%,21535.500000,0.000000,1.000000,1.000000,2013.0,3.000000
max,791131.000000,19012.000000,1.000000,70.000000,2013.0,5.000000

In [10]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 38 columns):
act_date               100000 non-null object
source                 100000 non-null object
pos_ctry               100000 non-null object
pos_iata               100000 non-null object
pos_oid                100000 non-null object
rloc                   100000 non-null object
cre_date               100000 non-null object
duration               100000 non-null int64
distance               100000 non-null int64
dep_port               100000 non-null object
dep_city               100000 non-null object
dep_ctry               100000 non-null object
arr_port               100000 non-null object
arr_city               100000 non-null object
arr_ctry               100000 non-null object
lst_port               100000 non-null object
lst_city               100000 non-null object
lst_ctry               100000 non-null object
brd_port               100000 non-null object
brd_city               100000 non-null object
brd_ctry               100000 non-null object
off_port               100000 non-null object
off_city               100000 non-null object
off_ctry               100000 non-null object
mkt_port               100000 non-null object
mkt_city               100000 non-null object
mkt_ctry               100000 non-null object
intl                   100000 non-null int64
route                  100000 non-null object
carrier                100000 non-null object
bkg_class              100000 non-null object
cab_class              100000 non-null object
brd_time               100000 non-null object
off_time               100000 non-null object
pax                    100000 non-null int64
year                   100000 non-null int64
month                  100000 non-null int64
oid                    100000 non-null object
dtypes: int64(6), object(32)
memory usage: 29.0+ MB

Clean the column names

In [13]:
sample.columns

Index(['act_date           ', 'source', 'pos_ctry', 'pos_iata', 'pos_oid  ',
       'rloc          ', 'cre_date           ', 'duration', 'distance',
       'dep_port', 'dep_city', 'dep_ctry', 'arr_port', 'arr_city', 'arr_ctry',
       'lst_port', 'lst_city', 'lst_ctry', 'brd_port', 'brd_city', 'brd_ctry',
       'off_port', 'off_city', 'off_ctry', 'mkt_port', 'mkt_city', 'mkt_ctry',
       'intl', 'route          ', 'carrier', 'bkg_class', 'cab_class',
       'brd_time           ', 'off_time           ', 'pax', 'year', 'month',
       'oid      '],
      dtype='object')

In [19]:
sample.columns = sample.columns.str.strip()

## 2) Select the columns of interest

In [20]:
sample = sample[['arr_port', 'pax', 'year']]

## 3) What to do with NaN?

In the sample everything might be ok, but we should prepare for NaN case

In [22]:
sample.count()

arr_port    100000
pax         100000
year        100000
dtype: int64

## 4) Make processing plan
1) get only the bookings from 2013

2) group by arr_port, sum

3) sort 

4) get top 10

#### 4.1) Get only the booking from 2013

In [24]:
sample_2013 = sample[sample['year'] == 2013]

sample_2013.shape

(100000, 3)

#### 4.2) group by arr_port, sum

In [ ]:
# This would be slower because it calculates the sum 
# of all numeric columns before filtering.
sample_2013.groupby('arr_port').sum()['pax']

In [28]:
paxes_per_airport = sample_2013.groupby('arr_port')['pax'].sum()

In [33]:
paxes_per_airport.sort_values(ascending=False).head(10)

arr_port
LHR         1006
MCO          861
JFK          795
LAX          761
BKK          747
LAS          732
SFO          705
ORD          686
CDG          676
DXB          587
Name: pax, dtype: int64

## 5) Adjust the code to work with Big data


Hint: check out https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking

In [34]:
bookings_file = '../data/Challenge/bookings.csv.bz2'

sample = pd.read_csv(bookings_file, nrows=100000, sep='^', chunksize=10000)

In [36]:
for chunk in sample:
    print(type(chunk))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [41]:
sample = pd.read_csv(bookings_file, nrows=100000, sep='^', chunksize=10000)

partial_results = []

for chunk in sample:
    chunk = chunk[['arr_port', 'pax', 'year']].dropna()
    chunk = chunk[chunk['year'] == 2013]
    result_from_this_chunk = chunk.groupby('arr_port')['pax'].sum()
    
    partial_results.append(result_from_this_chunk)

#### Now we need to put together the results from all the chunks

Options:

* df.append()

* pd.concat()
    
    
pd.concat handles several DataFrames in one go, while df.append creates a new DataFrame every time we call it.

In [52]:
all_results = pd.concat(partial_results)
total_arrivals = all_results.groupby('arr_port').sum()
top_10 = total_arrivals.sort_values(ascending=False).head(10)
top_10

arr_port
LHR         1006
MCO          861
JFK          795
LAX          761
BKK          747
LAS          732
SFO          705
ORD          686
CDG          676
DXB          587
Name: pax, dtype: int64

## Complete Solution

In [57]:
%%time
from datetime import datetime

data = pd.read_csv(bookings_file, sep='^', chunksize=1e6)

partial_results = []

for chunk_num, chunk in enumerate(data):
    print('Start processing chunk %d at %s' % (chunk_num, datetime.now()))
    
    chunk = chunk[['arr_port', 'pax', 'year']].dropna()
    chunk = chunk[chunk['year'] == 2013]
    result_from_this_chunk = chunk.groupby('arr_port')['pax'].sum()
    
    partial_results.append(result_from_this_chunk)
    
all_results = pd.concat(partial_results)
total_arrivals = all_results.groupby('arr_port').sum()
top_10 = total_arrivals.sort_values(ascending=False).head(10)
top_10

Start processing chunk 0 at 2018-06-01 19:01:20.955483
Start processing chunk 1 at 2018-06-01 19:01:38.618521
Start processing chunk 2 at 2018-06-01 19:01:56.639461
Start processing chunk 3 at 2018-06-01 19:02:14.792791
Start processing chunk 4 at 2018-06-01 19:02:32.805942

<string>:2: DtypeWarning: Columns (7,8,27) have mixed types. Specify dtype option on import or set low_memory=False.

Start processing chunk 5 at 2018-06-01 19:02:50.692625
Start processing chunk 6 at 2018-06-01 19:03:08.801143
Start processing chunk 7 at 2018-06-01 19:03:27.882373
Start processing chunk 8 at 2018-06-01 19:03:46.696722
Start processing chunk 9 at 2018-06-01 19:04:05.314671
Start processing chunk 10 at 2018-06-01 19:04:05.583673
CPU times: user 3min 7s, sys: 6 s, total: 3min 13s
Wall time: 3min 2s

In [85]:
partial_results[0].shape

(2274,)

In [86]:
top_10

arr_port
LHR         88809.0
MCO         70930.0
LAX         70530.0
LAS         69630.0
JFK         66270.0
CDG         64490.0
BKK         59460.0
MIA         58150.0
SFO         58000.0
DXB         55590.0
Name: pax, dtype: float64

### Airport Names

Using [neobase](https://github.com/alexprengere/neobase), the successor to GeoBases. It's a referential data library that particularly focuses on airports.

In [87]:
import neobase

nb = neobase.NeoBase()

In [88]:
nb.get('JFK')

{'__dup__': set(),
 'city_code_list': ['NYC'],
 'city_name_list': ['New York City'],
 'continent_name': 'North America',
 'country_code': 'US',
 'iata_code': 'JFK',
 'lat': '40.63983',
 'lng': '-73.77874',
 'location_type': ['A'],
 'name': 'John F. Kennedy International Airport',
 'timezone': 'America/New_York'}

In [89]:
nb.get('JFK')['name']

'John F. Kennedy International Airport'

In [91]:
def get_airport_name_from_IATA(IATA_code):
    airport_data = nb.get(IATA_code.strip())
    return airport_data['name']
    

top_10.index.map(get_airport_name_from_IATA)

Index(['London Heathrow Airport', 'Orlando International Airport',
       'Los Angeles International Airport', 'McCarran International Airport',
       'John F. Kennedy International Airport',
       'Paris Charles de Gaulle Airport', 'Suvarnabhumi Airport',
       'Miami International Airport', 'San Francisco International Airport',
       'Dubai International Airport'],
      dtype='object', name='arr_port')

In [92]:
top_10.index = top_10.index.map(get_airport_name_from_IATA)

In [93]:
top_10

arr_port
London Heathrow Airport                  88809.0
Orlando International Airport            70930.0
Los Angeles International Airport        70530.0
McCarran International Airport           69630.0
John F. Kennedy International Airport    66270.0
Paris Charles de Gaulle Airport          64490.0
Suvarnabhumi Airport                     59460.0
Miami International Airport              58150.0
San Francisco International Airport      58000.0
Dubai International Airport              55590.0
Name: pax, dtype: float64

### An Alternative

Chunking with pandas DataFrames is a very general technique that can be applied to lots of datasets that don't fit in memory. It is useful to know because it's very widely applicable.

However, very often small optimizations and tricks will allow us to get the job done, and they may be even quicker. 

In this case, the dataset is pretty close to fitting in memory, so just using the usecols argument to read_csv can get us there. It will only load the three relevant columns to start with.

In [60]:
%%time

df = pd.read_csv(bookings_file, sep='^', usecols=['pax', 'arr_port', 'year'])

res = df[df['year']==2013].groupby('arr_port')['pax'].sum().sort_values(ascending=False).head(10)

res

CPU times: user 2min 2s, sys: 836 ms, total: 2min 2s
Wall time: 2min 2s

In [62]:
import sys

sys.getsizeof(df)

810000914